.form-container {
  margin: 2rem auto 0;
  max-width: 80%;
  padding: 2em;
  background-color: #2a2e35;
  color: #b2becd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
  border-radius: 5px;
}

.form-container.medium-size {
  max-width: 50%;
}

.form-container.large-size {
  max-width: 90%;
}

.form-container :is(h2, h3) {
  margin-top: 0;
}

.form-container h3 {
  text-align: center;
}

form label {
  display: block;
  font-size: 1.2rem;
}

form :is(input[type="text"], input[type="password"], input[type="email"]) {
  width: 100%;
  padding: 0.4em 0.5em;
  margin: 5px 0 20px;
  border: none;
  border-radius: 3px;
  font-size: 1.1rem;
  font-family: inherit;
}

form span {
  display: none;
  background: #dc0530;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3em 0.5em;
  border-radius: 2px;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

form span.show {
  display: block;
}

/* For home page */
form p {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.radio-button-container label {
  font-size: 1rem;
  display: inline-block;
}

.radio-control {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid #fa8142;
  border-radius: 3px;
  padding: 0.3em;
  margin-bottom: 5px;
}

.radio-control input[type="datetime-local"] {
  display: none;
  padding: 0.3em 0.5em;
  border: none;
  border-radius: 3px;
}

input#custom:checked ~ input[type="datetime-local"] {
  display: block;
}

.btn.shorten-btn {
  color: #fff;
  background-color: #09c372;
}

.btn.shorten-btn:hover {
  border: 2px solid #fff;
}

@media only screen and (max-width: 71.875em) {
  /* 1150px */
  .form-container :is(h2, h3) {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 43.75em) {
  /* 700px */
  .form-container {
    max-width: 90%;
  }

  .form-container.medium-size {
    max-width: 80%;
  }

  form label {
    font-size: 1rem;
  }

  form :is(input[type="text"], input[type="password"], input[type="email"]) {
    padding: 0.3em 0.4em;
    font-size: 1rem;
  }

  form p {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 25em) {
  /* 400px */
  .form-container :is(h2, h3) {
    font-size: 1.5rem;
  }

  .form-container.medium-size {
    max-width: 95%;
  }

  form label {
    font-size: 0.9rem;
  }

  form p {
    font-size: 1rem;
  }
}
